h1 {
    color: #8a3324;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7rem;
}

p {
    color: #8a3324;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

body {
    background-color: #ffaf7a;
}